# Space - Data

---

In [2]:
import os
import itertools
import numpy as np
import pandas as pd

## 1. Data 불러오기

- ace(1999~2013): 붙임1 지자기교란 예측모델 개발용 데이터셋 -> 태양풍
- target: 붙임1 지자기교란 예측모델 개발용 데이터셋 -> 지자기교란 지수
- problem: 붙임2 AI 경진대회 문제(태양풍 데이터)
- additional: 붙임5 추가 태양풍 데이터(과제문제의 전년도 6개월)

In [3]:
def file_list(path):
    return [[os.path.join(path, file) for file in files] for path, _, files in os.walk(path)][0]

In [4]:
dataset_dir = [path for path, _, files in os.walk('data')]
dataset_dir

['data',
 'data\\붙임1 지자기교란 예측모델 개발용 데이터셋_수정190820',
 'data\\붙임1 지자기교란 예측모델 개발용 데이터셋_수정190820\\태양풍']

In [5]:
problem = pd.read_csv(file_list(dataset_dir[0])[0])
problem.head()

   doy  h  m     Np       Tp      Vp  B_gsm_x  B_gsm_y  B_gsm_z    Bmag
0    1  0  0  1.852  41618.0  455.61    6.098    2.449  -13.415  14.952
1    1  0  1  2.181  33781.0  461.07    6.700    1.502  -13.232  14.912
2    1  0  2  2.415  34709.0  464.84    7.390    0.523  -12.941  14.928
3    1  0  3  2.359  34183.0  470.76    8.011   -0.098  -12.694  15.013
4    1  0  4  1.237  32467.0  469.51    7.493    0.410  -13.058  15.064

In [6]:
additional = pd.read_csv(file_list(dataset_dir[0])[1], skiprows=14, delim_whitespace=True, names=problem.columns)
additional.head()

   doy  h  m     Np       Tp      Vp  B_gsm_x  B_gsm_y  B_gsm_z   Bmag
0  180  0  1  2.416  65701.0  402.18   -4.212   -3.982    2.445  6.298
1  180  0  2  2.493  68240.0  399.89   -4.566   -3.473    2.766  6.430
2  180  0  3  2.582  85224.0  389.17   -5.456   -2.370    2.837  6.596
3  180  0  4  2.686  90925.0  390.59   -5.550   -1.988    2.768  6.519
4  180  0  5  2.676  79821.0  392.44   -4.922   -3.073    2.679  6.416

In [7]:
# 붙임4의 columns를 카피함.

names = ["year"]
names.extend(problem.columns)
names

['year',
 'doy',
 'h',
 'm',
 'Np',
 'Tp',
 'Vp',
 'B_gsm_x',
 'B_gsm_y',
 'B_gsm_z',
 'Bmag']

In [8]:
file_list(dataset_dir[2])

['data\\붙임1 지자기교란 예측모델 개발용 데이터셋_수정190820\\태양풍\\ace_1999.csv',
 'data\\붙임1 지자기교란 예측모델 개발용 데이터셋_수정190820\\태양풍\\ace_2000.csv',
 'data\\붙임1 지자기교란 예측모델 개발용 데이터셋_수정190820\\태양풍\\ace_2001.csv',
 'data\\붙임1 지자기교란 예측모델 개발용 데이터셋_수정190820\\태양풍\\ace_2002.csv',
 'data\\붙임1 지자기교란 예측모델 개발용 데이터셋_수정190820\\태양풍\\ace_2003.csv',
 'data\\붙임1 지자기교란 예측모델 개발용 데이터셋_수정190820\\태양풍\\ace_2004.csv',
 'data\\붙임1 지자기교란 예측모델 개발용 데이터셋_수정190820\\태양풍\\ace_2005.csv',
 'data\\붙임1 지자기교란 예측모델 개발용 데이터셋_수정190820\\태양풍\\ace_2006.csv',
 'data\\붙임1 지자기교란 예측모델 개발용 데이터셋_수정190820\\태양풍\\ace_2007.csv',
 'data\\붙임1 지자기교란 예측모델 개발용 데이터셋_수정190820\\태양풍\\ace_2008.csv',
 'data\\붙임1 지자기교란 예측모델 개발용 데이터셋_수정190820\\태양풍\\ace_2009.csv',
 'data\\붙임1 지자기교란 예측모델 개발용 데이터셋_수정190820\\태양풍\\ace_2010.csv',
 'data\\붙임1 지자기교란 예측모델 개발용 데이터셋_수정190820\\태양풍\\ace_2011.csv',
 'data\\붙임1 지자기교란 예측모델 개발용 데이터셋_수정190820\\태양풍\\ace_2012.csv',
 'data\\붙임1 지자기교란 예측모델 개발용 데이터셋_수정190820\\태양풍\\ace_2013.csv']

In [23]:
ace = {y: pd.read_csv(path, skiprows=15, delim_whitespace=True, names=names) for y, path in enumerate(file_list(dataset_dir[2]), 1999)}
ace[1999].sample(5)

,year,doy,h,m,Np,Tp,Vp,B_gsm_x,B_gsm_y,B_gsm_z,Bmag
71041,1999,53,14,57,-9999.900,-9999.9,-9999.90,0.808,1.926,6.754,7.081
363591,1999,270,7,50,6.950,268020.0,617.86,-7.371,4.466,-1.551,8.814
300782,1999,223,19,14,5.880,29419.0,369.20,0.276,-10.051,3.612,11.006
178573,1999,133,6,38,9.396,52318.0,430.92,-1.771,-16.835,6.803,18.246
13308,1999,10,20,35,1.914,99513.0,413.44,2.262,-7.082,0.765,7.480

In [10]:
target = pd.read_csv(file_list(dataset_dir[1])[0], parse_dates=['date'])
target.head()

        date  kp_0h  kp_3h  kp_6h  kp_9h  kp_12h  kp_15h  kp_18h  kp_21h
0 1999-01-01      0      2      1      2       2       1       1       1
1 1999-01-02      1      2      2      3       3       2       2       1
2 1999-01-03      2      2      0      0       1       1       1       1
3 1999-01-04      1      2      3      2       3       2       1       2
4 1999-01-05      3      3      2      3       1       1       2       1

___
## 2. Data 전처리

In [11]:
from copy import deepcopy

In [12]:
ace_raw = deepcopy(ace)
target_raw = target.copy()
problem_raw = problem.copy()
additional_raw = additional.copy()

### 2-1. ace

In [12]:
# datetime 객체로 변환

pd.to_datetime(ace[2013]["year"][:5], format="%Y")

0   2013-01-01
1   2013-01-01
2   2013-01-01
3   2013-01-01
4   2013-01-01
Name: year, dtype: datetime64[ns]

In [13]:
# day, hour, minute을 더해주기 위해서 timedelta객체로 만듦

ace[2013]["doy"][:5].map(lambda x: pd.Timedelta(x-1, unit='days'))

0   0 days
1   0 days
2   0 days
3   0 days
4   0 days
Name: doy, dtype: timedelta64[ns]

In [14]:
%%time
# 연도가 1월 1일로 설정되어 있으므로 x-1을 함. 

for year, val in ace.items():
    val["dt"] = pd.to_datetime(val['year'], format='%Y') + \
    val["doy"].map(lambda x: pd.Timedelta(x-1, unit='days')) + \
    val["h"].map(lambda x: pd.Timedelta(x, unit='hours')) + \
    val["m"].map(lambda x: pd.Timedelta(x, unit='minutes'))
    
    ace[year] = val.iloc[:, 4:].set_index("dt")
    ace[year].to_csv(f"proc_data/ace/ace_{year}_datetime.csv")
    print(f'{year} is done!')
    
ace[1999].head()

1999 is done!
2000 is done!
2001 is done!
2002 is done!
2003 is done!
2004 is done!
2005 is done!
2006 is done!
2007 is done!
2008 is done!
2009 is done!
2010 is done!
2011 is done!
2012 is done!
2013 is done!
Wall time: 11min 26s

,Np,Tp,Vp,B_gsm_x,B_gsm_y,B_gsm_z,Bmag
dt,,,,,,,
1999-01-01 00:00:00,7.149,92352.0,406.00,-2.174,-2.598,5.550,6.630
1999-01-01 00:01:00,5.998,85859.0,419.12,-1.245,-0.140,6.558,6.796
1999-01-01 00:02:00,6.211,81547.0,411.99,-2.003,-1.198,6.306,6.802
1999-01-01 00:03:00,6.680,72308.0,405.25,-3.093,-2.483,5.545,6.854
1999-01-01 00:04:00,-9999.900,-9999.9,-9999.90,-3.009,-1.500,5.908,6.842

### 2-2. target

In [15]:
target.melt(['date']).sort_values(['date']).reset_index(drop=True)

             date variable  value
0      1999-01-01    kp_0h      0
1      1999-01-01    kp_3h      2
2      1999-01-01    kp_9h      2
3      1999-01-01   kp_12h      2
4      1999-01-01   kp_15h      1
5      1999-01-01   kp_18h      1
6      1999-01-01   kp_21h      1
7      1999-01-01    kp_6h      1
8      1999-01-02   kp_15h      2
9      1999-01-02   kp_21h      1
10     1999-01-02   kp_18h      2
11     1999-01-02    kp_6h      2
12     1999-01-02   kp_12h      3
13     1999-01-02    kp_9h      3
14     1999-01-02    kp_0h      1
15     1999-01-02    kp_3h      2
16     1999-01-03   kp_21h      1
17     1999-01-03   kp_18h      1
18     1999-01-03   kp_15h      1
19     1999-01-03   kp_12h      1
20     1999-01-03    kp_9h      0
21     1999-01-03    kp_0h      2
22     1999-01-03    kp_3h      2
23     1999-01-03    kp_6h      0
24     1999-01-04   kp_21h      2
25     1999-01-04   kp_18h      1
26     1999-01-04   kp_12h      3
27     1999-01-04    kp_0h      1
28     1999-01-04    kp_6h      3
29     1999-01-04    kp_9h      2
...           ...      ...    ...
43802  2013-12-28    kp_9h      1
43803  2013-12-28   kp_15h      1
43804  2013-12-28   kp_18h      1
43805  2013-12-28   kp_21h      1
43806  2013-12-28    kp_3h      0
43807  2013-12-28   kp_12h      1
43808  2013-12-29   kp_15h      1
43809  2013-12-29   kp_21h      1
43810  2013-12-29   kp_12h      1
43811  2013-12-29    kp_0h      1
43812  2013-12-29   kp_18h      2
43813  2013-12-29    kp_9h      2
43814  2013-12-29    kp_6h      1
43815  2013-12-29    kp_3h      1
43816  2013-12-30   kp_15h      1
43817  2013-12-30    kp_6h      1
43818  2013-12-30   kp_12h      1
43819  2013-12-30    kp_3h      0
43820  2013-12-30   kp_21h      1
43821  2013-12-30    kp_9h      1
43822  2013-12-30    kp_0h      0
43823  2013-12-30   kp_18h      1
43824  2013-12-31    kp_9h      2
43825  2013-12-31   kp_15h      1
43826  2013-12-31   kp_12h      2
43827  2013-12-31    kp_6h      2
43828  2013-12-31    kp_3h      1
43829  2013-12-31    kp_0h      2
43830  2013-12-31   kp_18h      2
43831  2013-12-31   kp_21h      1

[43832 rows x 3 columns]

In [15]:
target = target.melt(['date'])
target['variable'] = target.variable.map({f'kp_{str(n)}h': n for n in list(range(0, 24, 3))})
target['dt'] = pd.to_datetime(target["date"]) + \
         target["variable"].apply(pd.Timedelta, unit="h")

target = target.iloc[:, 2:].set_index("dt").sort_index()
target.to_csv("proc_data/target.csv")

target.head()

         date  variable  value
0  1999-01-01         0      0
1  1999-01-02         0      1
2  1999-01-03         0      2
3  1999-01-04         0      1
4  1999-01-05         0      3

### 2-3. problem

In [17]:
problem["dt"] = pd.to_datetime('2015', format='%Y') + \
problem["doy"].map(lambda x: pd.Timedelta(x-1, unit='days')) + \
problem["h"].map(lambda x: pd.Timedelta(x, unit='hours')) + \
problem["m"].map(lambda x: pd.Timedelta(x, unit='minutes'))
    
problem = problem.iloc[:, 3:].set_index("dt")
problem.to_csv("proc_data/problem.csv")

problem.head()

                        Np       Tp      Vp  B_gsm_x  B_gsm_y  B_gsm_z    Bmag
dt
2015-01-01 00:00:00  1.852  41618.0  455.61    6.098    2.449  -13.415  14.952
2015-01-01 00:01:00  2.181  33781.0  461.07    6.700    1.502  -13.232  14.912
2015-01-01 00:02:00  2.415  34709.0  464.84    7.390    0.523  -12.941  14.928
2015-01-01 00:03:00  2.359  34183.0  470.76    8.011   -0.098  -12.694  15.013
2015-01-01 00:04:00  1.237  32467.0  469.51    7.493    0.410  -13.058  15.064

### 2-4. additional

In [18]:
additional["dt"] = pd.to_datetime('2014', format='%Y') + \
additional["doy"].map(lambda x: pd.Timedelta(x-1, unit='days')) + \
additional["h"].map(lambda x: pd.Timedelta(x, unit='hours')) + \
additional["m"].map(lambda x: pd.Timedelta(x, unit='minutes'))
    
additional = additional.iloc[:, 3:].set_index("dt")
additional.to_csv("proc_data/additional.csv")

additional.head()

                        Np       Tp      Vp  B_gsm_x  B_gsm_y  B_gsm_z   Bmag
dt
2014-06-29 00:01:00  2.416  65701.0  402.18   -4.212   -3.982    2.445  6.298
2014-06-29 00:02:00  2.493  68240.0  399.89   -4.566   -3.473    2.766  6.430
2014-06-29 00:03:00  2.582  85224.0  389.17   -5.456   -2.370    2.837  6.596
2014-06-29 00:04:00  2.686  90925.0  390.59   -5.550   -1.988    2.768  6.519
2014-06-29 00:05:00  2.676  79821.0  392.44   -4.922   -3.073    2.679  6.416

---

In [24]:
ace[1999]

,year,doy,h,m,Np,Tp,Vp,B_gsm_x,B_gsm_y,B_gsm_z,Bmag
0,1999,1,0,0,7.149,92352.0,406.00,-2.174,-2.598,5.550,6.630
1,1999,1,0,1,5.998,85859.0,419.12,-1.245,-0.140,6.558,6.796
2,1999,1,0,2,6.211,81547.0,411.99,-2.003,-1.198,6.306,6.802
3,1999,1,0,3,6.680,72308.0,405.25,-3.093,-2.483,5.545,6.854
4,1999,1,0,4,-9999.900,-9999.9,-9999.90,-3.009,-1.500,5.908,6.842
5,1999,1,0,5,6.410,69888.0,408.27,-2.297,-0.685,6.339,6.842
6,1999,1,0,7,6.149,74253.0,409.85,-2.132,0.345,6.415,6.831
7,1999,1,0,8,6.422,73144.0,407.99,-2.416,0.694,6.021,6.969
8,1999,1,0,9,6.216,88505.0,412.83,-2.245,3.919,5.365,7.032
9,1999,1,0,10,5.587,86869.0,413.50,-2.461,3.513,5.546,7.028
10,1999,1,0,11,6.068,83807.0,409.13,-2.518,2.851,5.851,6.999
11,1999,1,0,12,6.282,79354.0,408.77,-2.412,2.968,5.761,6.931
12,1999,1,0,13,5.834,67273.0,427.12,-1.524,3.291,5.639,6.839
13,1999,1,0,14,5.053,67946.0,417.32,-1.713,4.140,4.835,6.748
14,1999,1,0,15,5.877,81477.0,410.18,-1.701,3.820,5.047,6.694
15,1999,1,0,16,6.231,87876.0,421.84,-0.381,4.613,4.587,6.567
16,1999,1,0,17,4.826,63165.0,418.37,-1.943,3.928,4.596,6.530
17,1999,1,0,18,5.677,75000.0,412.68,-2.182,4.030,4.652,6.562
18,1999,1,0,19,5.999,82842.0,413.96,-2.031,3.234,5.488,6.762
19,1999,1,0,20,6.441,78279.0,407.70,-2.478,2.816,5.678,6.848
20,1999,1,0,21,6.432,81255.0,412.29,-2.209,3.100,5.719,6.898
21,1999,1,0,23,5.633,72132.0,416.76,-1.537,3.489,5.363,6.787
22,1999,1,0,24,6.834,86614.0,429.32,-0.038,4.153,5.279,6.773
23,1999,1,0,25,5.232,70889.0,427.99,-0.109,4.373,5.153,6.824
24,1999,1,0,26,5.380,72428.0,431.72,0.599,4.514,5.014,6.831
25,1999,1,0,27,5.828,80967.0,426.07,-0.748,4.600,4.959,6.843
26,1999,1,0,28,5.765,79227.0,423.82,-1.070,4.096,5.014,6.819
27,1999,1,0,29,6.369,77419.0,411.34,-2.907,1.527,6.196,7.048
28,1999,1,0,30,4.673,61702.0,404.95,-3.201,0.250,6.187,7.026
29,1999,1,0,31,6.478,79500.0,407.69,-2.138,-0.781,6.435,6.884
...,...,...,...,...,...,...,...,...,...,...,...
492721,1999,365,23,28,4.164,324320.0,674.34,-4.736,1.962,-4.771,7.069
492722,1999,365,23,29,4.106,277800.0,667.89,-5.562,2.678,-3.361,7.104
492723,1999,365,23,30,4.287,284070.0,660.68,-6.572,2.180,-0.702,7.061
492724,1999,365,23,31,4.162,288220.0,657.43,-6.878,1.362,-0.336,7.070
492725,1999,365,23,32,4.578,284270.0,662.18,-6.818,1.130,-0.030,6.967
492726,1999,365,23,34,3.785,340600.0,660.57,-6.663,0.916,0.718,6.829
492727,1999,365,23,35,4.366,276490.0,661.35,-6.331,1.950,0.746,6.814
492728,1999,365,23,36,3.836,263830.0,661.88,-5.467,3.205,2.789,6.974
492729,1999,365,23,37,3.574,251440.0,666.99,-5.730,2.411,3.061,7.146
492730,1999,365,23,38,3.604,292800.0,667.56,-4.761,3.067,3.900,7.137
492731,1999,365,23,39,3.270,290050.0,676.19,-3.859,2.762,3.725,6.818
492732,1999,365,23,40,3.826,309200.0,663.84,-5.954,-1.533,1.358,6.546
492733,1999,365,23,41,3.461,327440.0,701.81,-2.220,3.882,5.580,7.259
492734,1999,365,23,42,3.394,327590.0,705.36,-2.047,3.332,5.997,7.266
492735,1999,365,23,43,3.299,309630.0,692.91,-3.326,2.902,5.316,7.048
492736,1999,365,23,44,3.173,304390.0,688.44,-3.553,3.354,3.960,6.781
492737,1999,365,23,45,-9999.900,-9999.9,-9999.90,-3.166,3.209,4.642,6.804
492738,1999,365,23,46,3.024,315210.0,704.83,-2.228,3.695,5.959,7.472
492739,1999,365,23,47,3.362,382900.0,731.37,-0.713,4.025,5.945,7.623
492740,1999,365,23,48,2.752,297250.0,704.84,-2.390,4.531,5.034,7.457
492741,1999,365,23,50,3.269,301930.0,697.69,-4.174,4.025,4.578,7.513
492742,1999,365,23,51,3.633,318400.0,680.22,-3.789,5.659,2.006,7.463
492743,1999,365,23,52,3.097,283820.0,690.38,-3.919,5.557,-0.309,6.962
492744,1999,365,23,53,3.713,307090.0,668.66,-5.953,2.911,1.827,7.163
492745,1999,365,23,54,3.676,304380.0,669.25,-5.731,2.285,1.756,6.952
492746,1999,365,23,55,3.365,363370.0,679.56,-4.768,-2.678,2.451,6.173
492747,1999,365,23,56,3.629,338670.0,690.92,-3.590,-4.599,2.820,6.677
492748,1999,365,23,57,3.665,311130.0,672.87,-5.656,1.779,4.514,7.673
492749,1999,365,23,58,3.135,247120.0,680.03,-5.747,3.764,4.632,8.330
492750,1999,365,23,59,-9999.900,-9999.9,-9999.90,-4.363,-1.571,4.486,7.700

In [25]:
total = dict()
for year, val in ace.items():
    ins = target.set_index("date").loc[f"{year}-01-01":f"{year}-12-31"]
    ins.reset_index(inplace=True)
    ins = ins.melt(['date']).rename({'variable':'h', 'value':'target'}, axis=1)
    ins['h'] = ins.h.map({f'kp_{str(n)}h': n for n in list(range(0, 24, 3))})
    ins = ins.sort_values(['date', 'h']).reset_index(drop=True)
    
    val_p = val.iloc[:, 4:]
    val_p[val_p <= -9999] = np.nan
    val_p.fillna(method='ffill', inplace=True)
    val_na = val_p.isna().sum().sum()
    while val_na != 0:
        val_p.fillna(val_p.std(), inplace=True)
        val_na = val_p.isna().sum().sum()
    val[val.columns[4:]] = val_p

    val['date'] = pd.to_datetime(val['year'], format='%Y') + \
    val['doy'].map(lambda x: pd.Timedelta(x-1, unit='days'))
    val['h'] = val.h.map(dict(enumerate([n for _ in list(range(0, 24, 3)) for n in itertools.repeat(_, 3)])))
    
    val = val[['h']+list(val.columns[4:])]
    val = val.pivot_table(index=['date', 'h'], aggfunc='mean')
    val.reset_index(inplace=True)
    val['date'] = val.date + val.h.apply(pd.Timedelta, unit="h")
    val = val[['date']+list(val.columns[-3:])+list(val.columns[2:-3])]
    
    total[year] = pd.concat([val, ins.target], axis=1).set_index('date')
    total[year].to_csv(f"proc_data/total/total_{year}.csv")
    print(f'{year} is done!')
    
total[1999].head()

1999 is done!
2000 is done!
2001 is done!
2002 is done!
2003 is done!
2004 is done!
2005 is done!
2006 is done!
2007 is done!
2008 is done!
2009 is done!
2010 is done!
2011 is done!
2012 is done!
2013 is done!

,Np,Tp,Vp,B_gsm_x,B_gsm_y,B_gsm_z,Bmag,target
date,,,,,,,,
1999-01-01 00:00:00,6.629172,86625.213018,406.759172,-3.349686,-0.284101,4.526704,6.918361,0
1999-01-01 03:00:00,6.969048,102770.035714,416.255893,-3.020280,1.972732,2.324583,6.576893,2
1999-01-01 06:00:00,7.388284,109619.710059,425.614024,-1.835858,3.037065,2.483077,6.230290,1
1999-01-01 09:00:00,7.298609,107011.360947,430.013964,-0.659308,4.717065,-0.013870,6.126361,2
1999-01-01 12:00:00,6.839337,111738.118343,434.079408,0.029775,2.502680,2.340402,5.624077,2

In [13]:
problem.head()

   doy  h  m     Np       Tp      Vp  B_gsm_x  B_gsm_y  B_gsm_z    Bmag
0    1  0  0  1.852  41618.0  455.61    6.098    2.449  -13.415  14.952
1    1  0  1  2.181  33781.0  461.07    6.700    1.502  -13.232  14.912
2    1  0  2  2.415  34709.0  464.84    7.390    0.523  -12.941  14.928
3    1  0  3  2.359  34183.0  470.76    8.011   -0.098  -12.694  15.013
4    1  0  4  1.237  32467.0  469.51    7.493    0.410  -13.058  15.064

In [27]:
problem = problem_raw.copy()

In [28]:
problem_p = problem.iloc[:, 3:]
problem_p[problem_p <= -9999] = np.nan
problem_p.fillna(method='ffill', inplace=True)
problem[problem.columns[3:]] = problem_p

problem['date'] = pd.to_datetime(problem['doy'].map(lambda x: x-1), unit='D')
problem['h'] = problem.h.map(dict(enumerate([n for _ in list(range(0, 24, 3)) for n in itertools.repeat(_, 3)])))
    
problem = problem[['h']+list(problem.columns[3:])]
problem = problem.pivot_table(index=['date', 'h'], aggfunc='mean')
problem.reset_index(inplace=True)
problem['date'] = (problem.date + problem.h.apply(pd.Timedelta, unit="h")).dt.strftime('%m-%d %H:%M')
problem = problem[['date']+list(problem.columns[-3:])+list(problem.columns[2:-3])].set_index('date')

problem.to_csv("proc_data/problem.csv")

problem.head()

,Np,Tp,Vp,B_gsm_x,B_gsm_y,B_gsm_z,Bmag
date,,,,,,,
01-01 00:00,1.225355,32956.035503,443.036509,5.142349,1.988692,-12.914000,14.143320
01-01 03:00,1.613686,55713.597041,431.723491,3.574822,-2.570586,-9.271053,11.855373
01-01 06:00,1.191851,80571.958333,432.390536,4.361542,-5.262113,-7.125196,10.517149
01-01 09:00,1.100000,149231.295858,428.213609,3.533574,-6.503805,4.220485,9.589148
01-01 12:00,1.100000,77718.396450,413.764024,6.511308,-6.137467,-0.664426,9.313183

In [92]:
%whos

Variable         Type         Data/Info
---------------------------------------
ace              dict         n=15
ace_raw          dict         n=15
additional       DataFrame            doy   h   m      <...>251097 rows x 10 columns]
additional_raw   DataFrame            doy   h   m      <...>251097 rows x 10 columns]
dataset_dir      list         n=3
deepcopy         function     <function deepcopy at 0x0000020D805C4BF8>
file_list        function     <function file_list at 0x0000020D84B92510>
ins              DataFrame               date   h  targ<...>\n[2920 rows x 3 columns]
itertools        module       <module 'itertools' (built-in)>
names            list         n=11
np               module       <module 'numpy' from 'C:\<...>ges\\numpy\\__init__.py'>
os               module       <module 'os' from 'C:\\Us<...>\\Anaconda3\\lib\\os.py'>
pd               module       <module 'pandas' from 'C:<...>es\\pandas\\__init__.py'>
problem          DataFrame            doy   h   m      <...>456299 rows x 10 columns]
problem_raw      DataFrame            doy   h   m      <...>456299 rows x 10 columns]
target           DataFrame               date  kp_0h  k<...>\n[5479 rows x 9 columns]
target_raw       DataFrame                date  kp_0h  <...>\n[5479 rows x 9 columns]
total            dict         n=15
val              DataFrame                        date <...>\n[2920 rows x 9 columns]
year             int          2013